#particles-js {
  position: absolute;
  background-position: 50% 50%;

}
.container-fluid{
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 20px;
  padding-right: 90px;
  padding-left: 90px;
}
#cen{
  text-align: center;
}
#cash{
  text-align: left;
}
#pay{
  text-align: left;
}
.navbar{font-family: 'Nunito Sans', sans-serif;
  padding-left: 30px;
}
.nav-item{
  padding-left: 30px;
}
.btn{
  padding:10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    border-radius: 20px;
}
footer{
  background-color:#091f3c;
  color:#fff;
  width: 100%;
  height:100%;
  margin-top: 1rem;
 
}
.foot{
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  background-color: #091f3c;
  width:100%;
  height:70%;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 25px;

}
.card {
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  width:100%;
  height:90%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 20px;


}