/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #091f3c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/*---------------------------------
* 05. Header
-----------------------------------*/
.header-nav {
  /* margin-top: 10px; */
  /* padding: 15px 10px; */
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header-nav .navbar-toggler span {
  background: #fff;
}

.header-nav .navbar-brand {
  color: #444;
  font-weight: 800;
  position: relative;
}

.header-nav .navbar-brand span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  bottom: 12px;
  right: -9px;
  float: left;
}

.header-nav .navbar-nav>li {
  margin: 0 0 0 20px;
}

.header-nav .navbar-nav .nav-link {
  position: relative;
  padding: 5px 0px;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
}

.header-nav .navbar-nav .nav-link:after {
  content: '';
  position: absolute;
  z-index: 10;
  width: 0;
  height: 2px;
  background: #fff;
  /* border: dotted; */
  -webkit-transition: ease all 0.2s;
  -moz-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s;

}

.header-nav .navbar-nav .nav-link:after {
  bottom: 0;
  left: 0;
}

.header-nav .navbar-nav .nav-link.active:after {
  width: 100%;
}

/*Navbar Toogle*/
.navbar-toggler {
  border: none;
  padding: 10px 6px;
  outline: none !important;
}

.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
}

.navbar-toggler span+span {
  margin-top: 4px;
}

/**/


.header-nav.fixed-header {
  margin-top: 0;
  /* padding: 12px 10px; */
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .navbar-nav {
    padding-top: 5px;
  }

  .header-nav .navbar-nav>li {
    margin: 8px 0;
  }

  .header-nav .navbar-nav .nav-link {
    padding: 0;
  }
}


@media only screen and (min-width: 991px) {
  #particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 50% 50%;

  }

  #img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    /* background-color: transparent; */
    /* padding-left: 100px; */
  }

  #particles0-js {
    width: 100%;
    height: 80%;
    position: absolute;
    background-position: 50% 50%;
    z-index: 1000;
  }

  #particles1-js {
    width: 100%;
    height: 80%;
    position: absolute;
    background-position: 50% 50%;

  }

  #particles2-js {
    width: 100%;
    height: 80%;
    position: absolute;
    background-position: 50% 50%;
  }

  #particles3-js {
    width: 90%;
    height: 45%;
    position: absolute;
    background-position: 50% 50%;
    padding-left: 30%;
  }

  #en {
    font-size: 50px;
  }

  .container-fluid {
    font-family: 'Nunito Sans', sans-serif;
    font-style: bold;
    font-size: 20px;
    padding-right: 100px;
    padding-left: 100px;
  }

  #nav {
    margin-left: 75px;
  }

  .cen {
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
  }

  #cash {
    text-align: left;
  }

  .pay {
    text-align: left;
    position: absolute;
  }

  .right {
    text-align: right;
    position: absolute;
  }

  .navbar {
    font-family: 'Nunito Sans', sans-serif;
  }

  /* .nav-item {
    padding-left: 10px;
  } */


  .small {
    display: none;
  }

  footer {
    background-color: #091f3c;
    color: #fff;
    width: 100%;
    /* height: 100%; */
    margin-top: 1rem;

  }

  .foot {
    font-family: 'Nunito Sans', sans-serif;
    font-style: bold;
    background-color: #091f3c;
    width: 90%;
    /* height: 70%; */
    padding-left: 80px;
    padding-top: 25px;
    padding-bottom: 25px;

  }
}



.card {
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  width: 100%;
  height: 90%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 5px;
  box-shadow: 5px 10px #091f3c;
}


.card1-container {
  height: 30px;
  perspective: 600;
  position: relative;
  width: 180px;
}

.card1 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.card1:hover {
  transform: rotateY(180deg);
}

.card1 .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

.card1 .back {
  transform: rotateY(180deg);
}

#slideshow {
  margin: 80px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow>div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  max-width: 100%;
  max-height: 90px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* shake effect */
@keyframes spaceboots {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake:hover,
.shake:focus {
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: 0.15s;
  animation-timing-function: linear;
}

.btn {
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  border-radius: 20px;
}

.bt {
  border-radius: 4px;
  background-color: #091f3c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  width: 100px;
  margin: 5px;
}


@media only screen and (max-width: 991px) {
  .big {
    display: none;
  }

  /* For mobile phones: */
  #particles0-js {
    display: none;
  }

  #particles1-js {
    display: none;
  }

  #particles2-js {
    display: none;
  }

  #particles3-js {
    display: none;
  }

  .pay {
    text-align: justify;
  }

  .cen {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-fluid {
    font-family: 'Nunito Sans', sans-serif;
    font-style: bold;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }

  #en {
    font-size: 40px;
  }
}

/*footer*/
.col_white_amrc {
  color: #FFF;
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 20px;
}

footer {
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 15px;
  width: 100%;
  background-color: #091f3c;
  padding: 10px 0px 25px 0px;
  font-size: 20px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 15pxx;
}

footer p {
  /* font-size: 13px; */
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

/* .mb10 {
  padding-bottom: 15px;
} */

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  /* font-size: 14px; */
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 20px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 15pxx;
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  /* padding-right: 10px; */
}

.footer_ul2_amrc {
  margin: 0px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 20px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 15pxx;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 15px;
}

.foote_bottom_ul_amrc {
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 15pxx;
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: 75px;
  margin-bottom: 10px;
  margin-left: 75px;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
  font-family: 'Nunito Sans', sans-serif;
  font-style: bold;
  font-size: 15pxx;
}